graph { 
	fill-color: rgb(85,185,94);
}

node {
	size: 20px;
	fill-color: yellow, orange;
	fill-mode: gradient-horizontal;
	text-alignment: center;
	text-color: black;
	text-style: bold;
}

edge {
	fill-color: red;
}

edge.tollway { size: 2px; stroke-color: red; stroke-width: 1px; stroke-mode: plain; }
edge.tunnel { stroke-color: blue; stroke-width: 1px; stroke-mode: plain; }
edge.bridge { stroke-color: yellow; stroke-width: 1px; stroke-mode: plain; }