graph { 
	fill-color: white;
}

node {
	size: 20px;
	fill-color: yellow, orange;
	fill-mode: gradient-horizontal;
	text-alignment: center;
	text-color: black;
	text-style: bold;
}

edge {
	fill-color: black;
	size: 2px;
}