graph { 
	fill-color: rgb(2,180,180); 
}

node {
	size: 3px;
	fill-color: rgb(253,182,50);
	text-mode: hidden;
	z-index: 0;
}

edge {
	shape: line;
	fill-color: black;
	arrow-size: 3px, 2px;
}

edge.tollway { size: 2px; stroke-color: red; stroke-width: 1px; stroke-mode: plain; }
edge.tunnel { stroke-color: blue; stroke-width: 1px; stroke-mode: plain; }
edge.bridge { stroke-color: yellow; stroke-width: 1px; stroke-mode: plain; }